<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha a Dificuldade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Escolha a Dificuldade</h1>
    <form method="POST">
        <button type="submit" name="dificuldade" value="facil">Fácil</button>
        <button type="submit" name="dificuldade" value="medio">Médio</button>
        <button type="submit" name="dificuldade" value="dificil">Difícil</button>
    </form>
</body>
</html>