<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Jogo da Forca</h1>
    <p>Palavra: {{ " ".join(palavra_oculta) }}</p>
    <p>Tentativas: {{ ", ".join(tentativas) }}</p>
    <p>Vidas restantes: {{ vidas }}</p>
    <form method="POST">
        <input type="text" name="letter" maxlength="1" required>
        <button type="submit">Tentar</button>
    </form>
    <p> {{ message }}</p>
</body>
</html>
