<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Jogo da Forca</h1>
    <p>Palavra: {{ " ".join(session['hidden_word']) }}</p>
    <p>Letras Usadas: {{ " ".join(session['used_letters']) }}</p>
    <p>Vidas Restantes: {{ session['lives'] }}</p>
    <form method="POST">
        <input type="text" name="letter" maxlength="1" required autocomplete="off">
        <button type="submit">Tentar</button>
    </form>
    <p class='{{message_status}}'> {{ message }}</p>
</body>
</html>
