<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idioma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Escolha o IDIOMA da palavra:</h1>
    <form method="POST">
        <select name="language" id="language-selector">
            <option lang="pt" value="PORTUGUÊS" selected>Português</option>
            <option lang="en" value="INGLÊS">English</option>
            <option lang="es" value="ESPANHOL">Español</option>
            <option lang="de" value="ALEMÃO">Deutsch</option>
            <option lang="fr" value="FRANCÊS">Français</option>
            <option lang="it" value="ITALIANO">Italiano</option>
            <option lang="sv" value="SUÉCO">Svenska</option>
        </select>
        <button type="submit">Começar</button>
    </form>
</body>
</html>
